{{! Template for fcp-panel-body component }}
{{#if shouldAnimate}}
  {{#liquid-if isOpen use='crossFade'}}
    <div class='fcp-panel-body-inner'>
      {{yield}}
    </div>
  {{/liquid-if}}

{{else}}
  {{#if isOpen}}
    <div class='fcp-panel-body-inner'>
      {{yield}}
    </div>
  {{/if}}
{{/if}}
